.array-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*overflow: hidden;*/ /* Prevents scrolling */
}

.array-bars-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    width: 100%;
}

.array-bar {
    width: 2px;
    background-color: pink;
    display: inline-block;
    margin: 0 1px;
}

.button-container {
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

button {
    margin: 5px;
    color: white;
    border: pink 2px solid;
}
